.container-fluid {
    padding:0;
    margin: 0;
    overflow: hidden;
}

.carousel {
    width: auto;
    max-height: 100vh;
}

.carousel img {
    width: 100%;
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat !important;
    height: auto;
    max-height: 100vh;
}

.carousel-caption {
    top: 40%;
    text-align: center;
    max-width: 100%;
}

.carousel-sub-head {
  color: #ffffff;
  font-size: 74px;
  line-height: 74px;
  font-weight: 700;
  font-family: 'Montserrat';
  max-width: 100%;
}

.carousel-head {
    font-size: 139px;
    font-weight: 700;
    color: rgb(255, 235, 125);
    font-family: Montserrat;
    line-height: 139px;
    max-width: 100%;
}

.carousel-item:after {
  content:"";
  display:block;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background:rgba(0,0,0,0.3);
}

@media (max-width: 767px) {
 
    .carousel-caption {
    top: 40%;
    }
    .carousel-sub-head {
        color: #ffffff;
        font-size: 37px;
        line-height: 37px;
        font-weight: 700;
        font-family: 'Montserrat';
        max-width: 100%;
        padding: 0 !important;
    }

    .carousel-head {
        font-size: 70px;
        font-weight: 700;
        color: rgb(255, 235, 125);
        font-family: Montserrat;
        line-height: 70px;
        max-width: 100%;
    }
    
    .carousel img {
        width: auto;
    }
    
}