.top-nav-test {
    background: #1eb2bb;;
    color: white;
    height: 35px;
    position: relative;
    z-index: 2;
}

.top-nav-left {
    padding-left: 20%;
}

.top-nav-right {
    padding-right: 20%;
}

.top-nav-test p {
    padding-top: 5px;
    letter-spacing: 0.4px;
}

.top-nav-test span a i {
    padding-top: 9px;
}

.top-nav-icon {
    text-align: right;
}

.social-icon-head {
  padding-left: 5px;
  padding-right: 5px;
  color: white !important;
}

.social-icon-head:hover {
  color: #ffeb7d !important; 
}

.navbar {
    -o-transition: all .6s;
    -moz-transition: all .6s;
    -webkit-transition: all .6s;
    -ms-transition: all .6s;
    transition: all .6s;
    backface-visibility: hidden;
    padding-top: 35px;
    z-index: 1;
}
 
.navbar.navbar-no-bg {
    background: rgb(255,255,255,0.82);
    background: rgba(255,255,255,0.82);   
}
 
.navbar-dark .navbar-nav {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
}
 
.navbar-dark .navbar-nav .nav-link {
    /*color: black;*/
    position: relative;
	display: inline-block;
	margin: 5px 5px;
	outline: none;
	color: #000000;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	font-weight: 700;
	font-size: 16px;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav a:focus {
	outline: none;
    color: orange;
}
 
.navbar-dark .navbar-nav .nav-link:after {
    position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 4px;
	background: orange;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: opacity 0.3s, -moz-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	transform: translateY(10px);
}

.navbar-dark .navbar-nav .nav-link:hover::after,
.navbar-dark .navbar-nav .nav-link:focus::after {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}

.contact-us-link{
    text-transform: uppercase;
    text-decoration: none !important;
    color: black;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1.5px;
    
    /*max-height: 40px;*/
}

.contact-us-button {
    margin: auto;
    /*display: block;*/
    background-color: transparent;
    
    /* Border styles */
    border: 2px solid #f6b93b;
    border-radius: 20px;
    /*line-height: 17px;*/
    padding: 1px 20px;
    min-height: 40px;
    
}

.contact-us-button:hover {
    color: white !important;
    background: #f6b93b;
    border-color: #f6b93b !important;
    transition: all 0.4s ease 0s;
}

.contact-us-link:hover {
    color: white;
}

@media (max-width: 767px) {
 
     .navbar {
        padding-top: 0;
        position: relative;
        z-index: 0;
    }
     
    .navbar.navbar-no-bg { 
        background: #fff;
    }
    
    .navbar-dark .navbar-toggler { 
        border-color: #000; 
        background: #333;
    }
    
    .navbar-dark .navbar-toggler:focus { 
        background: #333;
        outline: 0;
    }
    
    .navbar-expand-md .navbar-nav .nav-link { 
        padding-top: 0.3rem; 
        padding-bottom: 0.3rem;
        color: #000;
        position: relative;
        z-index: 1000;
        overflow: hidden;
    }
}

.nav {
 		font-size: 40px;
 		line-height: 48px;
 		-webkit-transition: all .4s ease;
 		transition: all .4s ease;
 }

.sticky {
        background: #fff !important;
 		font-size: 24px;
 		line-height: 10px;
 		text-align: center;
 		padding-left: 20px;
 		padding-top: 5px;
 		z-index: 2;
 }